main{
    width: 80vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#grupos{
    margin: 5%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p , h2{
    text-align: center;
}
h2{
    color: rgb(0, 55, 158);
    font-size: 55px;
}
.grupo{
    height: 100px;
    width: 100px;
    
    background-color: rgb(100, 165, 250);
    border-radius: 15%;
}
.grupo > p{
    font-size: 30px;
    margin: 40%;
    font-weight: 800;
}

p , h2{
    text-align: center;
}

#fieldset{
    border: rgb(0, 55, 158) 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    margin: 6%;
    margin-inline: 150px;
}
#LabelFormulario{
    font-size: 35px;
    color: rgb(0, 55, 158);
}
#inputFoormulario{
    height: 40px;
    width: 300px;
    margin: 3%;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: rgb(100, 165, 250) 2px solid;
    
    font-size: 20px;
}
#comprobar{
    height: 50px;
    width: 250px;

    border: rgb(0, 55, 158) 2px solid;

    font-size: 25px;
    font-weight: 700;
    color: whitesmoke;
    background-color: rgb(100, 165, 250);
}
#mensaje{
    width: 70%;
    height: 55px;
    margin: 2%;
    background-color: rgba(255, 0, 0, 0.692);
}
#textMensaje{
    font-size: 20px;
    font-weight: 700;
    margin: 3%;
}
#resultados{
    margin: 5%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.celdas{
    height: 100px;
    width: 100px;
    border-radius: 15%;
}
.negro{
    height: 100px;
    width: 100px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.425);
}
.amarillo{
    height: 100px;
    width: 100px;
    border-radius: 15%;
    background-color: rgba(255, 238, 0, 0.589);
}
.verde{
    height: 100px;
    width: 100px;
    border-radius: 15%;
    background-color: rgba(68, 196, 10, 0.616);
}
.caracter{
    font-size: 30px;
    margin: 40%;
    font-weight: 800;
}