main{
    width: 80vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#grupos{
    margin: 5%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p , h2{
    text-align: center;
}
h2{
    color: rgb(0, 55, 158);
    font-size: 50px;
}
.grupo{
    height: 100px;
    width: 100px;
    
    background-color: rgb(100, 165, 250);
    border-radius: 15%;
}
.grupo > p{
    font-size: 30px;
    margin: 40%;
    font-weight: 800;
}

p , h2{
    text-align: center;
}

fieldset{
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    gap: 20px;
    margin: 5%;
}